#testimonial{
    background:rgba(165, 42, 42, 0.082);
    .testimonial_content{
        background: #ffff;
        display: flex;
        align-items: center;
        justify-content: center;
        width:200px;
        height: 200px;
        margin-bottom: 20px;
        gap: 1rem;
    }
}