@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.site_header {
  position: absolute;
  width: 100%;
}
.site_header .header {
  display: flex;
  align-content: center;
  justify-content: center;
  justify-content: space-between;
}
.site_header .header .site_logo {
  margin-top: 11px;
}
.site_header .header .site_logo img {
  width: 100%;
}
.site_header .header .site_nav {
  margin-top: 20px;
}
.site_header .header .site_nav ul {
  display: flex;
  gap: 2rem;
}
.site_header .header .site_nav ul li {
  list-style: none;
}
.site_header .header .site_nav ul li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  color: #4F5665;
  text-decoration: none;
}
.site_header .header .site_nav ul li a:hover {
  color: #F53838;
  transition: 0.5 ease-in-out;
}
.site_header .header .site_btn {
  display: flex;
  margin-top: 5px;
}
.site_header .header .site_btn .primary_btn a {
  color: #0B132A;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-decoration: none;
}
.site_header .header .site_btn .secondary_btn {
  margin-top: 13px;
  background: transparent;
  border: 1px solid #F53838;
  width: 95px;
  height: 30px !important;
  border-radius: 50px;
}
.site_header .header .site_btn .secondary_btn a {
  font-size: 16px;
  font-weight: 600;
  line-height: 18.75px;
  text-decoration: none;
  color: #F53838;
}
.site_header .header .toggle_btn {
  margin-top: 18px;
  font-size: 20px;
  display: none;
  color: #fff;
}

@media (max-width: 992px) {
  .site_nav {
    display: none !important;
  }
  .site_btn {
    display: none !important;
  }
  .toggle_btn {
    display: block !important;
  }
}
.banner_sec {
  width: 100%;
  height: 100vh;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background: rgba(165, 42, 42, 0.082);
}
.banner_sec .banner_content {
  display: flex !important;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 100vh !important;
}
.banner_sec .banner_content h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: #0B132A;
}
.banner_sec .banner_content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #4F5665;
}
.banner_sec .banner_content .banner_btn button {
  background: #F53838;
  padding: 8px 35px;
  border-radius: 5px;
}
.banner_sec .banner_content .banner_btn button a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  color: #FFFFFF;
  text-decoration: none;
}
.banner_sec .banner_img {
  position: absolute;
  top: 100px;
}
.banner_sec .banner_img img {
  width: 100%;
}

@media (max-width: 992px) {
  .banner_sec img {
    display: none !important;
  }
}
#testimonial {
  background: rgba(165, 42, 42, 0.082);
}
#testimonial .testimonial_content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 50px;
  width: 200px;
  height: 100px;
  margin-bottom: 20px;
  gap: 1rem;
  box-shadow: rgba(77, 77, 133, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#testimonial .testimonial_content .testimonial_img img {
  width: 50px;
}
#testimonial .testimonial_content .number {
  display: flex;
  flex-direction: column;
}
#testimonial .testimonial_content .number h5 {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: #0B132A;
}
#testimonial .testimonial_content .number span {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #4F5665;
}

@media (max-width: 992px) {
  #testimonial {
    display: none;
  }
}
#features .feature_img {
  margin-top: 50px;
}
#features .feature_content {
  margin-top: 150px;
}
#features .feature_content h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 50px;
  color: #0B132A;
}
#features .feature_content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #4F5665;
}
#features .feature_content span {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #4F5665;
}
#features .feature_content span .fas {
  background: #2fab73;
  border-radius: 30px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 5px 8px;
}

#pricing {
  background: rgba(186, 206, 216, 0.294);
  padding: 50px 0;
}
#pricing h1 {
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  color: #0B132A;
}
#pricing p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #4F5665;
}
#pricing .pricing_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(77, 77, 133, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#pricing .pricing_card .pricing_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pricing .pricing_card .pricing_content p {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  color: #0B132A;
  padding-top: 10px;
}
#pricing .pricing_card .pricing_content span .fas {
  color: #2fab73;
  font-size: 18px;
  margin: 10px;
}
#pricing .pricing_card .pricing_content .primary_btn a {
  background: transparent;
  border: 2px solid #F53838;
  padding: 5px 35px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  color: #F53838;
  text-decoration: none;
}
#pricing .pricing_card .pricing_content .primary_btn a:hover {
  background: #F53838;
  border: #F53838;
  color: #fff;
  transition: 0.5s ease-in-out;
}/*# sourceMappingURL=style.css.map */